*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
header{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.15)),url(./taj.png);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width:100%;
    height: 10vh;
    text-transform: uppercase;
   background-color: rgb(157, 157, 157);
   align-items: center;
   display: flex;
   justify-content: space-between;
}
nav .logo{
    
    width: 30%;
    text-align: center;

}
nav .menu{
    width:50%;
    display: flex;
    justify-content: space-between;
}
nav .menu a{
    width:30%;
    font-weight: bold;
    color: azure;
    font-size: 19px;
    text-decoration: none;
}

nav .menu a:first-child{
    color: green;
}
nav .menu a:hover{
    color: green;
}
main{
    height: 100vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}
section h3{
    text-transform: uppercase;
    text-shadow: 2px 1px 7px black;
    font-weight: 200px;
    font-size: 30px;
    letter-spacing: 2px;
}
section h1{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 55px;
    text-shadow: 3px 2px 5px black;
}
section p{
    font-size: 35px;
    text-shadow: 2px 1px 1px 4px black;
    margin-bottom: 25px;/*increase downside space*/
}
section a{
    border: 1px solid white;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;

}
section .btn1{
    background-color: azure;
    color: black;
    padding:8px 28px;
}
.btn1:hover{
    background-color: #00b894;
    color:aliceblue;
}
section .btn2{
    background-color: azure;
    color: black;
    padding:8px 28px;
}
.btn2:hover{
    background-color: #00b894;
    color:aliceblue;
}
.change_content:after{
    content: "";
    animation: changeDestination 10s infinite linear;
    color: #00b894;
    
}
@keyframes changeDestination{
    0%{
       content:"DELHI";
    }

    20%{
       content:"KERALA";
     }
     40%{
          content:"MUMBAI";
         }
         60%{
             content:"KASHMIR";
             }
             80%{
                content:"SHIMLA";
                 }
                 100%{
                    content:"AGRA";
                     }
                     
                } 
         

